%make-paper {
  background-color: var(--paper-color-bg-default);
  overflow: hidden;
  box-sizing: border-box;

  &.radius {
    &-1 {
      border-radius: var(--paper-border-radius-1);
    }

    &-2 {
      border-radius: var(--paper-border-radius-2);
    }

    &-3 {
      border-radius: var(--paper-border-radius-3);
    }

    &-4 {
      border-radius: var(--paper-border-radius-4);
    }

    &-5 {
      border-radius: var(--paper-border-radius-5);
    }

    &-6 {
      border-radius: var(--paper-border-radius-6);
    }

    &-7 {
      border-radius: var(--paper-border-radius-7);
    }

    &-8 {
      border-radius: var(--paper-border-radius-8);
    }

    &-9 {
      border-radius: var(--paper-border-radius-9);
    }

    &-10 {
      border-radius: var(--paper-border-radius-10);
    }

    &-circle {
      border-radius: var(--paper-border-radius-circle);
    }
  }

  &.elevation {
    &-1 {
      box-shadow: 0 2px 1px -1px hsl(var(--paper-elevation-color) / 20%),
        0 1px 1px 0 hsl(var(--paper-elevation-color) / 14%),
        0 1px 3px 0 hsl(var(--paper-elevation-color) / 12%);
    }

    &-2 {
      box-shadow: 0 3px 1px -2px hsl(var(--paper-elevation-color) / 20%),
        0 2px 2px 0 hsl(var(--paper-elevation-color) / 14%),
        0 1px 5px 0 hsl(var(--paper-elevation-color) / 12%);
    }

    &-3 {
      box-shadow: 0 3px 3px -2px hsl(var(--paper-elevation-color) / 20%),
        0 3px 4px 0 hsl(var(--paper-elevation-color) / 14%),
        0 1px 8px 0 hsl(var(--paper-elevation-color) / 12%);
    }

    &-4 {
      box-shadow: 0 2px 4px -1px hsl(var(--paper-elevation-color) / 20%),
        0 4px 5px 0 hsl(var(--paper-elevation-color) / 14%),
        0 1px 10px 0 hsl(var(--paper-elevation-color) / 12%);
    }

    &-5 {
      box-shadow: 0 3px 5px -1px hsl(var(--paper-elevation-color) / 20%),
        0 5px 8px 0 hsl(var(--paper-elevation-color) / 14%),
        0 1px 14px 0 hsl(var(--paper-elevation-color) / 12%);
    }

    &-6 {
      box-shadow: 0 3px 5px -1px hsl(var(--paper-elevation-color) / 20%),
        0 6px 10px 0 hsl(var(--paper-elevation-color) / 14%),
        0 1px 18px 0 hsl(var(--paper-elevation-color) / 12%);
    }

    &-7 {
      box-shadow: 0 4px 5px -2px hsl(var(--paper-elevation-color) / 20%),
        0 7px 10px 1px hsl(var(--paper-elevation-color) / 14%),
        0 2px 16px 1px hsl(var(--paper-elevation-color) / 12%);
    }
  }

  &.border {
    border-width: var(--paper-border-width);
    border-style: var(--paper-border-style);
    border-color: var(--paper-color-border);
  }

  &.hollow {
    background-color: transparent;
  }

  &.black {
    background-color: #000;
  }
}
