:root {
  // border radius
  --paper-border-radius-1: 3px;
  --paper-border-radius-2: 6px;
  --paper-border-radius-3: 12px;
  --paper-border-radius-4: 24px;
  --paper-border-radius-5: 48px;
  --paper-border-radius-6: 64px;
  --paper-border-radius-7: 80px;
  --paper-border-radius-8: 90px;
  --paper-border-radius-9: 100px;
  --paper-border-radius-10: 120px;
  --paper-border-radius-circle: 50%;

  // colors fragmented
  --paper-elevation-color-h: 0deg;
  --paper-elevation-color-s: 0%;
  --paper-elevation-color-l: 0%;
  --paper-elevation-color: var(--paper-elevation-color-h) var(--paper-elevation-color-s)
    var(--paper-elevation-color-l);

  // colors
  --paper-color-bg-default: #fff;
  --paper-color-bg-black: var(--paper-color-bg-default);
  --paper-color-bg-hollow: transparent;
  --paper-color-border: #ddd9d9;

  // border
  --paper-border-width: 1px;
  --paper-border-style: solid;
}

.dark {
  --paper-color-bg-default: #212121;
  --paper-color-bg-black: #000;
  --paper-color-border: #403e3e;
}
