:root {
  // border radius
  --paper-border-radius-0: 0;
  --paper-border-radius-1: 1px;
  --paper-border-radius-2: 2px;
  --paper-border-radius-3: 3px;
  --paper-border-radius-4: 4px;
  --paper-border-radius-5: 5px;
  --paper-border-radius-6: 6px;
  --paper-border-radius-7: 7px;
  --paper-border-radius-8: 8px;
  --paper-border-radius-9: 9px;
  --paper-border-radius-10: 10px;

  // colors fragmented
  --paper-elevation-color-h: 0deg;
  --paper-elevation-color-s: 0%;
  --paper-elevation-color-l: 0%;
  --paper-elevation-color: var(--paper-elevation-color-h) var(--paper-elevation-color-s)
    var(--paper-elevation-color-l);

  // colors
  --paper-color-bg-default: #fff;

  // extra variables (paper-site)
  --sidebar-width: 180px;
  --header-height: 60px;
  --footer-height: 60px;

  --paper-site-space-1: 8px;
  --paper-site-space-2: 16px;
  --paper-site-space-3: 24px;
  --paper-site-space-4: 32px;
  --paper-site-space-5: 40px;
  --paper-site-space-6: 48px;
  --paper-site-space-7: 56px;
  --paper-site-space-8: 64px;
  --paper-site-space-9: 72px;
  --paper-site-space-10: 80px;

  --paper-site-border-color: #ededed;
  --paper-site-selection-color: aliceblue;
  --paper-site-primary-color: #612dff;
  --paper-site-font-color: #4b3e91;
}

.dark {
  --paper-color-bg-default: #242752;

  --paper-site-border-color: #47426c;
  --paper-site-selection-color: #2b3e78;
  --paper-site-primary-color: #ff80f5;
  --paper-site-font-color: #cec7f1;
}
