body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--paper-site-font-color);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
