body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--paper-site-font-color);
}

* {
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

p {
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.7;

  @media (min-width: 900px) {
    max-width: 60ch;
  }
}

h2 {
  font-size: clamp(28px, 2.5vw, 2rem);
  margin-top: 0;
}

.wrapper-docs {
  main {
    .main-paper {
      & > section {
        width: 100%;
      }
    }
  }
}

.example {
  --paper-color-bg-default: #fff;
  width: 100%;
  max-width: 300px;
  height: 300px;
}

.dark {
  .example {
    --paper-color-bg-default: #212121;
  }
}

select {
  background-color: transparent;
  color: var(--paper-site-font-color);
  border-color: var(--paper-site-font-color);

  option {
    background-color: var(--paper-color-bg-default);
  }
}
