body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper-docs {
  p {
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
    max-width: 60ch;
  }

  h2 {
    margin-bottom: 1em;
  }
}
