:root {
  --sidebar-width: 180px;
  --header-height: 60px;
  --footer-height: 60px;

  --paper-site-space-1: 8px;
  --paper-site-space-2: 16px;
  --paper-site-space-3: 24px;
  --paper-site-space-4: 32px;
  --paper-site-space-5: 40px;
  --paper-site-space-6: 48px;
  --paper-site-space-7: 56px;
  --paper-site-space-8: 64px;
  --paper-site-space-9: 72px;
  --paper-site-space-10: 80px;

  --paper-site-border-color: #ededed;
  --paper-site-selection-color: aliceblue;
  --paper-site-primary-color: #612dff;
  --paper-site-font-color: #4b3e91;
  --paper-site-link-color: #2e6fd1;

  --paper-site-display-box-color: #f3f3f3;

  --paper-site-paragraph-font-size: clamp(1.2rem, 1.6vw, 1.6rem);
}

.dark {
  --paper-site-border-color: #2a2a2a;
  --paper-site-selection-color: #052e54;
  --paper-site-primary-color: #dc8eff;
  --paper-site-font-color: #bcb6d3;
  --paper-color-bg-default: #141418 !important;
  --paper-site-link-color: #98bcf3;

  --paper-site-display-box-color: #2c2d38;
}
